.admin-panel {
	max-width: 800px;
	margin: 40px auto;
	padding: 20px;
	background-color: #f8f8f8;
	border-radius: 10px;
	color: black !important;
}

.admin-panel h2 {
	text-align: center;
	margin-bottom: 20px;
}

.admin-panel table {
	width: 100%;
	border-collapse: collapse;
}

.admin-panel th, td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
}

.admin-panel button {
	padding: 6px 10px;
	background-color: #d9534f;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.admin-panel button:hover {
	background-color: #c9302c;
}