.admin-panel {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	margin: 40px auto;
	padding: 20px;
	background-color: #f8f8f8;
	border-radius: 10px;
	color: black !important;
}

.admin-panel h2 {
	text-align: center;
	margin-bottom: 20px;
}

.admin-panel table {
	width: 100%;
	border-collapse: collapse;
}

.admin-panel th, td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
}

.admin-panel button {
	padding: 2px 4px;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 5px;
}

.btn_admin_cancelar{
	background-color: #e17227;
}
.btn_admin_editar{
	background-color: #3d4ed1;
}
.btn_admin_guardar{
	background-color: #5cb85c;

}
.btn_admin_eliminar{
	background-color: #dd2619;
}

.admin-panel button:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.editing-row {
	background-color: #f0f8ff; /* Un color suave para resaltar */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}