@import '../App.css';

.calendar-container {
    max-width: 70%;
    margin: 20px auto;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #1a1a1a;
    overflow: hidden;
    position: relative;
    color: #fff;
    text-transform: capitalize;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.steps-wrapper {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}

.steps-wrapper.view-CALENDAR {
    transform: translateX(-100%);
}

.steps-wrapper.view-CONFIRMACION {
    transform: translateX(0%);
}

.react-calendar {
    border: none;
    font-family: Arial, sans-serif;
    width: 100%;
    background-color: #1a1a1a;
    color: #fff;
}

.react-calendar__tile {
    background-color: #333;
    color: #fff;
    border-radius: 0;
    transition: background-color 0.3s ease;
}

.react-calendar__tile--active {
    background-color: #00ff88 !important;
    color: #000 !important;
}

.react-calendar__tile:hover {
    background-color: #444;
}

.react-calendar label {
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
}
.react-calendar__navigation__label__labelText, .react-calendar__navigation, .react-calendar__navigation__arrow {
    color: #00a056 !important;
}

.reserve-button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #00ff88;
    color: #000;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reserve-button:disabled {
    background-color: #444;
    cursor: not-allowed;
}

.reserve-button:hover:not(:disabled) {
    background-color: #00cc6e;
}

.back-button {
    background-color: #00ff88;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #00cc6e;
}

/* Revertir el estilo del sábado (día 6) a normal */
.react-calendar__month-view__days__day--weekend:nth-child(7n + 6) {
	color: inherit; /* Hereda color normal del calendario */
	font-weight: normal;
}

.react-calendar__month-view__days__day--weekend:nth-child(7n) {
	color: red;
  pointer-events: none;
}